{{ if eq .Type "posts" }}
  {{ $seo := partial "seo/resolve.html" . }}
  {{ $published := .Date.Format "2006-01-02T15:04:05Z07:00" }}
  {{ $modified := .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}
  {{ $publisher := dict "@type" "Organization" "name" .Site.Title }}
  {{ $schema := dict
    "@context" "https://schema.org"
    "@type" "BlogPosting"
    "headline" .Title
    "description" $seo.description
    "url" $seo.canonical
    "datePublished" $published
    "dateModified" $modified
    "mainEntityOfPage" (dict "@type" "WebPage" "@id" $seo.canonical)
    "author" (dict "@type" "Person" "name" (.Params.author | default .Site.Title))
    "publisher" $publisher
  }}
  {{ $schema = merge $schema (dict "image" (slice $seo.image)) }}
  <script type="application/ld+json">{{ $schema | jsonify | safeJS }}</script>
{{ end }}