{{ $hasVideoHub := and .IsPage (index (.Params.video | default dict) "id") }}
{{ $hasYoutubeShortcode := false }}
{{ if and .IsPage (gt (len (findRE `\{\{<\s*video-embed(?:\s|>|/>)` .RawContent)) 0) }}
  {{ $hasYoutubeShortcode = true }}
{{ end }}

{{ if or $hasVideoHub $hasYoutubeShortcode }}
  <link rel="dns-prefetch" href="//www.youtube-nocookie.com">
  <link rel="dns-prefetch" href="//i.ytimg.com">
  <link rel="preconnect" href="https://www.youtube-nocookie.com">
  <link rel="preconnect" href="https://i.ytimg.com">
{{ end }}