{{ $page := .page }}
{{ $label := .label | default "Article details" }}
{{ $hidePublished := .hidePublished | default false }}
{{ $hideTopic := .hideTopic | default false }}
{{ $topicData := partial "article/resolve-primary-topic.html" (dict "page" $page) }}
{{ $topic := $topicData.label }}
{{ $topicPage := $topicData.page }}
{{ $showUpdated := false }}
{{ with $page.Lastmod }}
  {{ if $page.Date }}
    {{ $showUpdated = gt (.Unix) ($page.Date.Unix) }}
  {{ else }}
    {{ $showUpdated = true }}
  {{ end }}
{{ end }}
{{ $showPublished := and (not $hidePublished) (eq $page.Type "posts") $page.Date }}
{{ $showReading := eq $page.Type "posts" }}
{{ $showTopic := and (not $hideTopic) (ne $topic "") }}

{{ if or $showPublished $showReading $showTopic $showUpdated }}
<ul class="metadata-row" aria-label="{{ $label }}">
  {{ if $showPublished }}
    <li>
      <time datetime="{{ $page.Date.Format "2006-01-02T15:04:05Z07:00" }}">{{ $page.Date.Format "Jan 2, 2006" }}</time>
    </li>
  {{ end }}

  {{ if $showReading }}
    <li>{{ $page.ReadingTime }} min read</li>
  {{ end }}

  {{ if $showTopic }}
    <li>
      {{ if $topicPage }}
        <a href="{{ $topicPage.Permalink }}">{{ $topic }}</a>
      {{ else }}
        <span>{{ $topic }}</span>
      {{ end }}
    </li>
  {{ end }}

  {{ if $showUpdated }}
    <li>
      Updated <time datetime="{{ $page.Lastmod.Format "2006-01-02T15:04:05Z07:00" }}">{{ $page.Lastmod.Format "Jan 2, 2006" }}</time>
    </li>
  {{ end }}
</ul>
{{ end }}