{{ $items := slice (dict "name" .Site.Title "url" .Site.Home.Permalink) }}

{{ if not .IsHome }}
  {{ if eq .Kind "taxonomy" }}
    {{ $items = $items | append (dict "name" .Title "url" .Permalink) }}
  {{ else if eq .Kind "term" }}
    {{ $taxonomyName := humanize (.Data.Plural | default "category") }}
    {{ $items = $items | append (dict "name" $taxonomyName "url" (printf "%scategory/" .Site.Home.Permalink)) }}
    {{ $items = $items | append (dict "name" .Title "url" .Permalink) }}
  {{ else }}
    {{ with .CurrentSection }}
      {{ if and (not .IsHome) (ne .Permalink $.Permalink) }}
        {{ $items = $items | append (dict "name" .Title "url" .Permalink) }}
      {{ end }}
    {{ end }}
    {{ if ne .Permalink .Site.Home.Permalink }}
      {{ $items = $items | append (dict "name" .Title "url" .Permalink) }}
    {{ end }}
  {{ end }}
{{ end }}

{{ return $items }}