{{- $destination := .Destination | default "" -}}
{{- $resolvedHref := $destination -}}
{{- $linkPage := .PageInner | default .Page -}}
{{- if and $linkPage (ne $destination "") (not (or (hasPrefix $destination "http://") (hasPrefix $destination "https://") (hasPrefix $destination "/") (hasPrefix $destination "#") (hasPrefix $destination "mailto:") (hasPrefix $destination "tel:"))) -}}
  {{- with $linkPage.Resources.GetMatch $destination -}}
    {{- $resolvedHref = .RelPermalink -}}
  {{- end -}}
{{- end -}}

<a href="{{ $resolvedHref | safeURL }}"{{ with .Title }} title="{{ . }}"{{ end }}>{{ .Text | safeHTML }}</a>
