{{- $provider := .Get "provider" | default "youtube" -}}
{{- $id := .Get "id" -}}
{{- $title := .Get "title" | default (.Page.Title | plainify) -}}
{{- .Page.Scratch.Set "hasLiteYoutube" true -}}
{{- if not $id -}}
  {{- errorf "video-embed shortcode requires an id: %s" .Position -}}
{{- end -}}
{{- if ne $provider "youtube" -}}
  {{- errorf "video-embed shortcode only supports the youtube provider: %s" .Position -}}
{{- end -}}
{{- $watchURL := printf "https://www.youtube.com/watch?v=%s" $id -}}
{{- $posterURL := printf "https://i.ytimg.com/vi/%s/hqdefault.jpg" $id -}}
<figure class="video-embed">
  <div class="video-embed__frame">
    <lite-youtube data-video-id="{{ $id }}" data-video-title="{{ $title }}" style="--video-poster: url('{{ $posterURL }}');">
      <button type="button" class="video-embed__play" aria-label="Play video: {{ $title }}">
        <span class="video-embed__play-icon" aria-hidden="true"></span>
        <span class="video-embed__play-label">Play video</span>
      </button>
    </lite-youtube>
  </div>
  <figcaption>
    <a href="{{ $watchURL }}">Watch on YouTube</a>
  </figcaption>
</figure>